.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: none;
}

.desktopNav {
  display: none;
}

.link {
  color: #444;
  text-decoration: none;
  margin-right: 1rem;
  font-size: large;
  font-weight: 500;
}

.cta {
  display: none;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta:hover,
.cta:focus {
  background-color: #222;
  outline: none;
}


.mobileToggle {
  position: absolute;
  top: 3rem;
  right: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  padding: 0;
  z-index: 60;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #222;
  border-radius: 3px;
  transition: all 0.3s ease;
  z-index: 70;
}

/* Animate into X */
.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.open .bar:nth-child(2) {
  opacity: 0;
}
.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}



.icon {
  height: 40px;
  width: 40px;
}

.mobileMenu {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.95);
}

.mobileCTA {
  width: 90%;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.social a {
  margin-right: 1rem;
  font-size: 1rem;
  color: black;
}
.social a:hover {
  color: #333333;
}

/* Responsive styles */
@media (min-width: 768px) {
  .desktopNav {
    display: flex;
    gap: 1rem;
  }

  .cta {
    display: inline-flex;
  }

  .mobileToggle {
    display: none;
  }

  .mobileMenu {
    display: none;
  }

  .nav{
    position: relative;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #222;
  text-decoration: none;
  display: block;
}
}